*{
    color: #fff;
}

.bg{
    background: url('../css/image3.jpg') no-repeat; 
    width: 100%;
    height: 100vh;
}
.form-container{
    border: 1px solid white;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.54);
    box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.54);
    border-radius: 39px 39px 39px 39px;
-moz-border-radius: 39px 39px 39px 39px;
-webkit-border-radius: 39px 39px 39px 39px;
border: 1px solid #000000;
}

